* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(#ffffff, 20%, #008bc2);
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../imagens/hollow.png);
  position: relative;
  font-family: "Poppins", sans-serif;
}
#formbox {
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  width: 25%;
  max-width: 30em;
  min-width: 25em;
  text-align: center;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 1em;
  box-shadow: -0.2em 0.2em rgba(0, 0, 0, 0.281);
  border-style: solid;
  border-color: rgb(255, 255, 255);
}
#title {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-bottom: 16px;
}
#btn {
  font-family: "Poppins", sans-serif;
  border-radius: 2em;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #008bc200;
  border-style: solid;
  border-color: #ffffff;
  color: white;
  cursor: pointer;
  width: 120px;
  transition: 0.7s;
}

#btn:hover {
  background-color: #ffffff;
  color: black;
  transition: 0.7s;
}
#my-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputnick {
  padding: 8px 12px;
  font-size: 20px;
  border-radius: 0.5em;
  margin-bottom: 16px;
  border-style: solid;
  border-color: #ffffff;
  background-color: transparent !important;
  color: #ffffff;
}

.back-video {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100vw;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100vh;
  }
}


